<div class="container">
    <br>
    <br>
    <div class="card-columns">
        <div class="card">
            <div class="card-body" style="min-height: 500px">
                <span class="card-title text-muted">预览</span>
                <hr>
                <div class="w-100 h-100">
                    <iframe class="w-100" (load)="onIframeload($event)" frameborder="0" scrolling="no"  [srcdoc]="srcdoc"></iframe>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span class="btn text-muted ">编辑</span>
                        </div>
                        <div class="col">
                            <div class="btn btn-primary float-right" (click)="save()">
                                <em class="glyphicon glyphicon-user "></em>发布
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <p class="card-text">
                    <quill-editor [style]="{'min-height': '300px',height:'auto'}" (onEditorCreated)="onCreate($event)" (onContentChanged)="onChange($event);"></quill-editor>
                </p>
            </div>
        </div>
    </div>
    <operator [cols]="cols"  [parent]="that" ></operator>
    <br>
    <br>
    <br>
</div>