<div class="page h-100">
    <div class="container d-flex justify-content-center h-100">
        <div class="align-self-center">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6 bg-primary d-flex justify-content-center">
                    <div class="align-self-center">
                        <div class=" p-3 text-light">
                            <div class="logo">
                                <h1>Dashboard</h1>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white d-flex justify-content-center ">
                    <div class="align-self-center">
                        <form method="post" class=" p-5" (ngSubmit)="onLogin()" *ngIf="!forget">
                            <div class="form-group">
                                <input type="text" placeholder="用户名/手机" class="form-control" [ngClass]="{ 'text-danger': submitted && f.username.errors }">
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="密码" class="form-control" [ngClass]="{ 'text-danger': 'submitted && f.password.errors' }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">登录</button>
                            </div>
                            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                            <small>
                                <a href="javascript:void(0);" class="forgot-pass" (click)="forget = !forget">忘记密码?</a>
                            </small>
                        </form>
                        <form method="post" class="pt-5 pb-5" (ngSubmit)="onForget()" *ngIf="forget">
                            <br><br>
                            <div class="input-group pb-5" *ngIf="!captcha">
                                <input type="text" placeholder="手机" class="form-control" [ngClass]="{ 'text-danger': 'submitted && f.password.errors' }">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="captcha = !captcha">发送验证码</button>
                                </div>
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>
                            </div>
                            <div class="input-group pb-5" *ngIf="captcha">
                                <input type="password" placeholder="输入验证码" class="form-control" [ngClass]="{ 'text-danger': 'submitted && f.password.errors' }">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="captcha = !captcha">确认验证码</button>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <small>
                                <a href="javascript:void(0);" class="forgot-pass" (click)="forget = !forget">已有密码?</a>
                            </small>
                        </form>
                    </div>
                </div>
            </div>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
        </div>
    </div>
</div>