<div bsModal #dlg="bs-modal" class="modal fade" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{info}}</p>
                <button type="button" class="btn btn-default" (click)="confirm()">确定</button>
                <button type="button" class="btn btn-primary" (click)="decline()" *ngIf="fnDecline">取消</button>
            </div>
        </div>
    </div>
</div>