


* {
/* font-size: 0.9rem  !important; */
}

body {
 background-color: #eee;
 font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft YaHei", sans-serif;
}
/* .table > tbody > tr > td {
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

[class^="dropdown-menu"],[class*="dropdown-menu"] {
    left:auto !important;
    top:inherit !important;
}
.ui-select-choices{
    display:block;
}
.btn-secondary{
    
}


