<div bsModal #modal="bs-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{header}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body  text-center">
                <ng-container *ngFor="let col of cols">
                    <div class="form-group" *ngIf="row != {} && col.type == 1">
                        <input class="form-control mr-sm-2" type="text" placeholder="{{col.alias}}" [(ngModel)]="row[col.name]">
                    </div>
                    <div class="form-group" *ngIf="row != {} && col.type == 2">
                        <input class="form-control mr-sm-2" type="password" placeholder="{{col.alias}}" [(ngModel)]="row[col.name]">
                    </div>
                    <div class="form-group text-left" *ngIf="row != {} && col.type == 3 && col.options.select">
                        <span style="color:gray">{{col.alias}}</span>
                        <ng-select  [items]="col.options.select" [disabled]="disabled" (selected)="selected(col.options.select, col.name,$event)" placeholder="{{unselected(col.options.select, row[col.name])}}">
                        </ng-select>
                    </div>
                </ng-container>
                <button type="button" class="btn btn-primary" (click)="confirm()">提交</button>
            </div>
        </div>
    </div>
</div>
<div bsModal #dialog="bs-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{info}}</p>
                <button type="button" class="btn btn-default" (click)="confirm()">确定</button>
                <button type="button" class="btn btn-primary" (click)="decline()" *ngIf="noinfobtn">取消</button>
            </div>
        </div>
    </div>
</div>